@page "/forgotpassword"
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@using Microsoft.AspNetCore.Components.Forms

<h3>Forgot Password</h3>

<EditForm Model="@emailModel" OnValidSubmit="HandleForgotPassword">
    <InputText @bind-Value="emailModel.UserName" placeholder="Username" />
    <InputText @bind-Value="emailModel.Email" placeholder="Email" />
    <ValidationMessage For="@(() => emailModel.Email)" />
    <button type="submit">Send Reset Link</button>
</EditForm>

@if(IsSent)
{
    <h1>The Email is Sent</h1>
}