@page "/reset-password"
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<h3>Reset Password</h3>

@if (!string.IsNullOrEmpty(token))
{
    <EditForm Model="@resetModel" OnValidSubmit="HandleResetPassword">
        <InputText @bind-Value="resetModel.NewPassword" type="password" />
        <ValidationMessage For="@(() => resetModel.NewPassword)" />
        <button type="submit">Reset Password</button>
    </EditForm>
}
else
{
    <p>Invalid token.</p>
}