@page "/reset-password"
@rendermode @(new InteractiveServerRenderMode(prerender: false))

@if (!string.IsNullOrEmpty(token))
{
    <h3 class="text-center mt-4 mb-4">Reset Password</h3>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <EditForm Model="@resetModel" OnValidSubmit="HandleResetPassword">
                    <DataAnnotationsValidator />
                    <ValidationSummary class="text-danger" />

                    <div class="mb-3">
                        <label for="newPassword" class="form-label">New Password</label>
                        <InputText id="newPassword" type="password" class="form-control" @bind-Value="resetModel.NewPassword" placeholder="Enter new password" />
                        <ValidationMessage For="@(() => resetModel.NewPassword)" class="text-danger" />
                    </div>

                    <button type="submit" class="btn btn-success w-100">Reset Password</button>
                </EditForm>
            </div>
        </div>
    </div>
}
else
{
    <p>Invalid token.</p>
}