################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEvaluation/blazorapp.metadata.v9.bin
/.vs/ProjectEvaluation/blazorapp.projects.v9.bin
/.vs/ProjectEvaluation/blazorapp.strings.v9.bin
/BlazorApp.BLL/obj/BlazorApp.BLL.csproj.nuget.dgspec.json
/BlazorApp.BLL/obj/BlazorApp.BLL.csproj.nuget.g.props
/BlazorApp.BLL/obj/Debug/net8.0/BlazorApp.BLL.AssemblyInfo.cs
/BlazorApp.BLL/obj/Debug/net8.0/BlazorApp.BLL.AssemblyInfoInputs.cache
/BlazorApp.BLL/obj/Debug/net8.0/BlazorApp.BLL.assets.cache
/BlazorApp.BLL/obj/Debug/net8.0/BlazorApp.BLL.csproj.AssemblyReference.cache
/BlazorApp.BLL/obj/Debug/net8.0/BlazorApp.BLL.GeneratedMSBuildEditorConfig.editorconfig
/BlazorApp.BLL/obj/project.assets.json
/BlazorApp.BLL/obj/project.nuget.cache
/BlazorApp.DLL/obj/Debug/net8.0/BlazorApp.DLL.AssemblyInfoInputs.cache
/BlazorApp.DLL/obj/Debug/net8.0/BlazorApp.DLL.assets.cache
/BlazorApp.DLL/obj/Debug/net8.0/BlazorApp.DLL.csproj.AssemblyReference.cache
/BlazorApp.DLL/obj/Debug/net8.0/BlazorApp.DLL.GeneratedMSBuildEditorConfig.editorconfig
/BlazorApp.DLL/obj/BlazorApp.DLL.csproj.nuget.dgspec.json
/BlazorApp.DLL/obj/BlazorApp.DLL.csproj.nuget.g.props
/BlazorApp.DLL/obj/project.assets.json
/BlazorApp.DLL/obj/project.nuget.cache
/BlazorApp.Model/obj/Debug/net8.0/BlazorApp.Model.AssemblyInfo.cs
/BlazorApp.Model/obj/Debug/net8.0/BlazorApp.Model.AssemblyInfoInputs.cache
/BlazorApp.Model/obj/Debug/net8.0/BlazorApp.Model.assets.cache
/BlazorApp.Model/obj/Debug/net8.0/BlazorApp.Model.csproj.AssemblyReference.cache
/BlazorApp.Model/obj/Debug/net8.0/BlazorApp.Model.GeneratedMSBuildEditorConfig.editorconfig
/BlazorApp.Model/obj/BlazorApp.Model.csproj.nuget.dgspec.json
/BlazorApp.Model/obj/BlazorApp.Model.csproj.nuget.g.props
/BlazorApp.Model/obj/project.assets.json
/BlazorApp.Model/obj/project.nuget.cache
/BlazorApp.Test/bin/Debug/net8.0/.msCoverageSourceRootsMapping_BlazorApp.Test
/BlazorApp.Test/bin/Debug/net8.0/CoverletSourceRootsMapping_BlazorApp.Test
/BlazorApp.DLL/obj/Debug/net8.0/BlazorApp.DLL.AssemblyInfo.cs
/BlazorApp.Test/obj/BlazorApp.Test.csproj.nuget.dgspec.json
/BlazorApp.Test/obj/BlazorApp.Test.csproj.nuget.g.props
/BlazorApp.Test/obj/Debug/net8.0/BlazorApp.Test.AssemblyInfo.cs
/BlazorApp.Test/obj/Debug/net8.0/BlazorApp.Test.AssemblyInfoInputs.cache
/BlazorApp.Test/obj/Debug/net8.0/BlazorApp.Test.assets.cache
/BlazorApp.Test/obj/Debug/net8.0/BlazorApp.Test.csproj.AssemblyReference.cache
/BlazorApp.Test/obj/Debug/net8.0/BlazorApp.Test.GeneratedMSBuildEditorConfig.editorconfig
/BlazorApp.Test/obj/Debug/net8.0/BlazorApp.Test.sourcelink.json
/BlazorApp.Test/obj/project.assets.json
/BlazorApp.Test/obj/project.nuget.cache
/.vs/BlazorApp/CopilotIndices/17.13.444.19527/CodeChunks.db
/.vs/BlazorApp/CopilotIndices/17.13.444.19527/CodeChunks.db-shm
/.vs/BlazorApp/CopilotIndices/17.13.444.19527/CodeChunks.db-wal
/.vs/BlazorApp/CopilotIndices/17.13.444.19527/SemanticSymbols.db
/.vs/BlazorApp/CopilotIndices/17.13.444.19527/SemanticSymbols.db-shm
/.vs/BlazorApp/CopilotIndices/17.13.444.19527/SemanticSymbols.db-wal
/.vs/BlazorApp/DesignTimeBuild/.dtbcache.v2
/.vs/BlazorApp/FileContentIndex/079fd1f2-984c-493a-95a8-e84a4371d7d7.vsidx
/.vs/BlazorApp/FileContentIndex/7c23e8a3-7a5b-48e4-8032-4edfcaba5bd1.vsidx
/.vs/BlazorApp/FileContentIndex/7ca08867-7cdb-4fb7-acf9-6b6f4e0fd701.vsidx
/.vs/BlazorApp/v17/.futdcache.v2
/.vs/BlazorApp/v17/.suo
/.vs/BlazorApp/v17/DocumentLayout.backup.json
/.vs/BlazorApp/v17/DocumentLayout.json
/BlazorApp.BLL/obj/Debug/net8.0/BlazorApp.BLL.csproj.CoreCompileInputs.cache
/BlazorApp.BLL/obj/Debug/net8.0/BlazorApp.BLL.csproj.FileListAbsolute.txt
/BlazorApp.BLL/obj/Debug/net8.0/BlazorApp.BLL.dll
/BlazorApp.BLL/obj/Debug/net8.0/BlazorApp.BLL.genruntimeconfig.cache
/BlazorApp.BLL/obj/Debug/net8.0/BlazorApp.BLL.pdb
/BlazorApp.BLL/obj/Debug/net8.0/BlazorApp.BLL.sourcelink.json
/BlazorApp.BLL/obj/Debug/net8.0/refint/BlazorApp.BLL.dll
/BlazorApp.DLL/obj/Debug/net8.0/ref/BlazorApp.DLL.dll
/BlazorApp.DLL/obj/Debug/net8.0/refint/BlazorApp.DLL.dll
/BlazorApp.BLL/obj/Debug/net8.0/ref/BlazorApp.BLL.dll
/BlazorApp.DLL/obj/Debug/net8.0/BlazorApp.DLL.csproj.CoreCompileInputs.cache
/BlazorApp.DLL/obj/Debug/net8.0/BlazorApp.DLL.csproj.FileListAbsolute.txt
/BlazorApp.DLL/obj/Debug/net8.0/BlazorApp.DLL.dll
/BlazorApp.DLL/obj/Debug/net8.0/BlazorApp.DLL.genruntimeconfig.cache
/BlazorApp.DLL/obj/Debug/net8.0/BlazorApp.DLL.pdb
/BlazorApp.DLL/obj/Debug/net8.0/BlazorApp.DLL.sourcelink.json
/BlazorApp.BLL/bin/Debug/net8.0/BlazorApp.BLL.dll
/BlazorApp.BLL/bin/Debug/net8.0/BlazorApp.BLL.pdb
/BlazorApp.BLL/bin/Debug/net8.0/BlazorApp.DLL.dll
/BlazorApp.BLL/bin/Debug/net8.0/BlazorApp.DLL.pdb
/BlazorApp.BLL/bin/Debug/net8.0/BlazorApp.Model.dll
/BlazorApp.BLL/bin/Debug/net8.0/BlazorApp.Model.pdb
/BlazorApp.DLL/bin/Debug/net8.0/BlazorApp.DLL.dll
/BlazorApp.DLL/bin/Debug/net8.0/BlazorApp.DLL.pdb
/BlazorApp.DLL/bin/Debug/net8.0/BlazorApp.Model.dll
/BlazorApp.DLL/bin/Debug/net8.0/BlazorApp.Model.pdb
/BlazorApp.Model/bin/Debug/net8.0/BlazorApp.Model.dll
/BlazorApp.Model/bin/Debug/net8.0/BlazorApp.Model.pdb
/BlazorApp.Model/obj/Debug/net8.0/ref/BlazorApp.Model.dll
/BlazorApp.Model/obj/Debug/net8.0/refint/BlazorApp.Model.dll
/BlazorApp.Model/obj/Debug/net8.0/BlazorApp.Model.csproj.CoreCompileInputs.cache
/BlazorApp.Model/obj/Debug/net8.0/BlazorApp.Model.csproj.FileListAbsolute.txt
/BlazorApp.Model/obj/Debug/net8.0/BlazorApp.Model.dll
/BlazorApp.Model/obj/Debug/net8.0/BlazorApp.Model.genruntimeconfig.cache
/BlazorApp.Model/obj/Debug/net8.0/BlazorApp.Model.pdb
/BlazorApp.Model/obj/Debug/net8.0/BlazorApp.Model.sourcelink.json
/BlazorApp.Test/bin/Debug/net8.0/BlazorApp.BLL.dll
/BlazorApp.Test/bin/Debug/net8.0/BlazorApp.BLL.pdb
/BlazorApp.Test/bin/Debug/net8.0/BlazorApp.DLL.dll
/BlazorApp.Test/bin/Debug/net8.0/BlazorApp.DLL.pdb
/BlazorApp.Test/bin/Debug/net8.0/BlazorApp.Model.dll
/BlazorApp.Test/bin/Debug/net8.0/BlazorApp.Model.pdb
/BlazorApp.Test/bin/Debug/net8.0/BlazorApp.Test.dll
/BlazorApp.Test/bin/Debug/net8.0/BlazorApp.Test.pdb
/BlazorApp.Test/bin/Debug/net8.0/BlazorApp.UI.dll
/BlazorApp.Test/bin/Debug/net8.0/BlazorApp.UI.exe
/BlazorApp.Test/bin/Debug/net8.0/BlazorApp.UI.pdb
/BlazorApp.Test/obj/Debug/net8.0/refint/BlazorApp.Test.dll
/BlazorApp.Test/obj/Debug/net8.0/ref/BlazorApp.Test.dll
/BlazorApp.Test/obj/Debug/net8.0/BlazorApp.Test.csproj.CoreCompileInputs.cache
/BlazorApp.Test/obj/Debug/net8.0/BlazorApp.Test.csproj.FileListAbsolute.txt
/BlazorApp.Test/obj/Debug/net8.0/BlazorApp.Test.dll
/BlazorApp.Test/obj/Debug/net8.0/BlazorApp.Test.genruntimeconfig.cache
/BlazorApp.Test/obj/Debug/net8.0/BlazorApp.Test.pdb
