<!-- Registration -->
@page "/register"
@layout Layout.AuthenticationLayout
@using System.ComponentModel.DataAnnotations

<EditForm Model="@RegFormDetails" OnValidSubmit="HandleRegister">
    <DataAnnotationsValidator />

    <div class="input_container">
        <div class="input_wraper">
            <InputText @bind-Value="RegFormDetails.UserName" placeholder="Username" />
            <ValidationMessage For="@(() => RegFormDetails.UserName)" />
        </div>

        <div class="input_wraper">
            <InputText @bind-Value="RegFormDetails.Password" InputType="password" placeholder="Password" />
            <ValidationMessage For="@(() => RegFormDetails.Password)" />
        </div>

        @* <div class="input_wraper">  *@
        @*     <InputText @bind-Value="RegFormDetails.ConfirmPassword" InputType="password" placeholder="Confirm Password" />  *@
        @* </div>  *@

        <button type="submit" class="submit_button">Register</button>
        <a class="redirect_button" href="/signin">Sign in</a>
    </div>

</EditForm>
