@page "/signin"
@layout Layout.AuthenticationLayout
@using System.ComponentModel.DataAnnotations

<EditForm EditContext="_editContext" OnValidSubmit="HandleSignin" FormName="signin">
    <DataAnnotationsValidator />
    <div class="input_container">
        <div class="input_wraper">
            <InputText @bind-Value="SigninForm.UserName" placeholder="Username" />
            <ValidationMessage For="@(() => SigninForm.UserName)" />
        </div>

        <div class="input_wraper">
            <InputText @bind-Value="SigninForm.Password" InputType="password" placeholder="Password" />
            <ValidationMessage For="@(() => SigninForm.Password)" />
        </div>

        <div class="input_wraper">
            <a href="/forgotpassword">Forgot Password?</a>
        </div>
        
        
        <button type="submit" class="submit_button">Sign in</button>
        <a class="redirect_button" href="/register" >Register</a>
    </div>
</EditForm>