@page "/admin"
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<PageTitle>Admin Portal</PageTitle>

<AuthorizeView Roles="1" Context="authContext">
    <Authorized>
        <div class="admin_portal_container bg-light min-vh-100">
            <NavBar Title="Admin Portal" />

            <div class="container mt-1 position-relative">

                <button class="btn btn-primary position-absolute end-0"
                  @onclick="SavePreferenceHandler">save preferences</button>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs mb-1 tabs-fs-custom">
                    <li class="nav-item">
                        <button type="button" class="nav-link @(ActiveTab == 1 ? "active" : "")" @onclick="() => ActiveTab = 1">
                            User Manager
                        </button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="nav-link @(ActiveTab == 2 ? "active" : "")" @onclick="() => ActiveTab = 2">
                            Project_Manager
                        </button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="nav-link @(ActiveTab == 3 ? "active" : "")" @onclick="() => ActiveTab = 3">
                            User Role Associations
                        </button>
                    </li>
                </ul>

                <!-- Tab content -->
                <div class="tab-content mt-2">
                    <CascadingValue Value="ActiveTab">
                        @if (ActiveTab == 1)
                        {
                            <div class="tab-pane fade show active">
                                <User_Manager SessionDetails="SessionDetails"/>
                            </div>
                        }
                        else if (ActiveTab == 2)
                        {
                            <div class="tab-pane fade show active">
                                <Project_Manager SessionDetails="SessionDetails" />
                            </div>
                        }
                        else if (ActiveTab == 3)
                        {
                            <div class="tab-pane fade show active">
                                <User_Project_Role_Association SessionDetails="SessionDetails" />
                            </div>
                        }
                    </CascadingValue>
                </div>
            </div>
        </div>

    </Authorized>
    <NotAuthorized>
        <NotAuthorizedPage />
    </NotAuthorized>
</AuthorizeView>
