@page "/project/{ProjectId:int}"
@using Radzen
@using Radzen.Blazor
@using BlazorApp.Models.Dtos

<h1>@ProjectId</h1>

@* <RadzenDataGrid Data="@Users" TItem="UserDetail"> *@
@*     <Columns> *@
@*         <RadzenDataGridColumn Property="UserId" Title="ID"  Width="80px" /> *@

@*         <RadzenDataGridColumn Property="UserName" Title="Name"  Width="160px" /> *@

@*     </Columns> *@
@* </RadzenDataGrid> *@

<Popup />