@page "/associatedprojects"
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<AuthorizeView>
    <Authorized>
        @if (AssociatedProjects is not null)
        {
            <NavBar Title="Associated Projects" UserName="@SessionDetails.UserName" UserRoles="@SessionDetails.UserRoles" />

            <div class="dashboard_container">
                @foreach (var project in AssociatedProjects)
                {
                    <button @onclick="() => HandleProjectSelect(project.ProjectId)">@project.ProjectName</button>
                }
            </div>
        }
        else
        {
            <h1>Loading ...</h1>
        }
    </Authorized>
    <NotAuthorized>
        <NotAuthorizedPage />
    </NotAuthorized>
</AuthorizeView>