:root[data-bs-theme="light"] {
    --my-primary-custom: green;
    --my-accent-custom: #ff6347;
}

:root[data-bs-theme="dark"] {
    --my-primary-custom: purple;
    --my-accent-custom: #ff4500;
}

.bg-primarycustom {
    background-color: var(--my-primary-custom) !important;
}

.text-primarycustom {
    color: var(--my-primary-custom) !important;
}

.border-accentcustom {
    border-color: var(--my-accent-custom) !important;
}

.theme-toggler-btn {
    width: 40px !important;
    height: 40px !important;
    background-color: transparent !important;
    border-radius: 50% !important;
}
