.table-fs,
.table-fs th,
.table-fs td {
    font-size: 0.75rem;
}

.table-container {
    height: 62vh;
    overflow-y: auto;
}

.table-custom th,
.table-custom td {
    text-align: center;
}

.table-custom thead th {
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
}

.dropup-custom {
    display : inline-block;
}