<!-- Register -->
@rendermode InteractiveServer
@using System.ComponentModel.DataAnnotations

<EditForm Model="@registerInstance" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="input_container">
        <div class="input_wraper">
            <InputText @bind-Value="registerInstance.UserName" placeholder="Username"/>
        </div>

        <div class="input_wraper">
            <InputText @bind-Value="registerInstance.Password" InputType="password" placeholder="Password"/>
        </div>

        <div class="input_wraper">
            <InputText @bind-Value="registerInstance.ConfirmPassword" InputType="password" placeholder="Confirm Password"/>
        </div>

        <button type="submit" class="submit_button">Register</button>
        <button class="redirect_button" @onclick="RedirectFunction" >Sign in</button>
    </div>
    
</EditForm>

<NavLink class="nav-link" href="/userlist">User List</NavLink>


    
