<!-- Sign in -->
@rendermode InteractiveServer
@using System.ComponentModel.DataAnnotations

<EditForm Model="@signInInstance" >
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="input_container">
        <div class="input_wraper">
            <InputText @bind-Value="signInInstance.UserName" placeholder="Username" />
        </div>
        
        <div class="input_wraper">
            <InputText @bind-Value="signInInstance.Password" InputType="password" placeholder="Password" />
        </div>

        <div class="checkbox">
            <InputCheckbox @bind-Value="signInInstance.RememberMe" />
            <label>Remember Me</label>
        </div>
        
        <button type="submit" class="submit_button">Sign in</button>
        <button class="redirect_button" @onclick="redirectfunction" >Register</button>
    </div>
</EditForm>